<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.setera_jkh/menu.application.title" opened="true">
        <item view="setera_User.list" title="msg://com.company.setera_jkh.view.user/UserListView.title"/>
        <item view="setera_Buildings.list" title="msg://com.company.setera_jkh.view.buildings/buildingsListView.title"/>
        <item view="setera_Orders.list" title="msg://com.company.setera_jkh.view.orders/ordersListView.title"/>
    </menu>

</menu-config>